/* common shared items */
* {
    font-family: 'Open Sans', sans-serif;
    /* margin: 0; */
}

.primary-color {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

/* nav releted styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li,
a {
    list-style: none;
    text-decoration: none;
    margin-right: 50px;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.menu-items {
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.menu-button {
    width: 140px;
    height: 60px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* header related items */
.header {
    background-color: #fcf3ed;

}

/* banner related items */

.banner {
    display: flex;
    padding: 30px 0px 0px 200px;
    align-items: center;
    justify-content: space-between;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

/* .side-pic{} */
.banner-content {
    /* max-width: 500px; */
}

.banner-title {
    font-size: 45px;
    font-weight: 600;

}

.banner-btn1 {
    width: 200px;
    height: 64px;
    margin-right: 30px;
    margin-top: 15px;
}

.banner-btn2 {
    width: 170px;
    height: 64px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    margin-top: 15px;

}

.banner-2ndtitle {
    font-size: 85px;
    font-weight: 700;
}


.ppicture {

    width: 580px;
    height: 650px;
}
/* main section items */
main{
    max-width: 1140px;
    margin: 0 auto;

}

/* About section releted items */

.AboutMe {
    /* width: 1140px; */
    height: 350px;
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 120px;
    padding: 130px 100px 130px 100px;
}
.aboutme-descrip{
    /* width: 800px; */
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    margin-right: 60px;
    margin-top: 30px;
    text-align: center;
}